PORT=3001
NODE_ENV=development
JWT_SECRET=troque-esse-segredo
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"